<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Détail Statistique QCM Directeur</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">

		<div>
			<form th:action="@{/retourDirecteur}" method="post">
				<input type="submit" value="Retour" />
			</form>
		</div>
		<div>
			<h2>Détails Statistiques du Sondage</h2>
			<h2 th:text="${QCM.titre}"></h2>
		</div>

		<div th:each="question: ${QCM.questions}">
			<label style="font-size: xx-large;">Question </label> <label
				style="font-size: xx-large;" th:text="${questionStat.count}"></label>
			<h4 th:text="${question}"></h4>
			<div th:each="reponse :  ${QCM.reponses__${questionStat.count}__}">

				<label
					th:text="${TotalStat[__questionStat.index__][reponseStat.index]}"
					style="color: green; font-weight: bold;"></label> <label
					style="color: green; font-weight: bold;">% </label> <label
					th:text="${reponse}"></label>
			</div>
		</div>
	</div>
</body>
</html>