<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Accueil Sondix</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">

		<div>
			<form th:action="@{/retourResponsable}" method="post">
				<input type="submit" value="Retour" />
			</form>
		</div>
		<div>
			<h1> Sondage </h1>
			<h1 th:text="${QCM.titre}"></h1>
		</div>

		<div th:each="question: ${QCM.questions}">
			<h3>Question </h3>
			<h3 th:text="${questionStat.count}"></h3>
				<h3 th:text="${question}"></h3>
			<div th:each="reponse :  ${QCM.reponses1}">
				<label th:text="${reponse}"></label>
			</div>
		</div>

		<!--  <div>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>ID QCM</th>
						<th>Titre</th>
						<th>Catégorie</th>
						<th>Questions</th>
						<th>Reponses</th>


					</tr>
				</thead>
				<tbody>
					<tr th:each="reponse: ${QCM.reponses1}">
						<td th:text="${QCM.idQCM}"></td>
						<td th:text="${QCM.titre}"></td>
						<td th:text="${QCM.categorie}"></td>
						<td th:text="${QCM.questions}"></td>
						<td th:text="${reponse}"></td>


					</tr>
				</tbody>
			</table>
		</div>
		-->
	</div>
</body>
</html>