<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Accueil Sondix</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">

		<div>
			<form th:action="@{/retourInternaute}" method="post">
				<input type="submit" value="Retour" />
			</form>
		</div>
		<div>
			<h1>Sondage</h1>
			<h1 th:text="${QCM.titre}"></h1>
		</div>


		<form th:action="@{/registerResponses}" method="post"  th:object="${QCMRepondu}">
		<input type="text" name="titre" th:value="${QCM.titre}" hidden>
			<div th:each="question: ${QCM.questions}">
				<h3>Question</h3>
				<h3 th:text="${questionStat.count}"></h3>
				<h3 th:text="${question}"></h3>
				<div th:each="reponse :  ${QCM.reponses1}" th:with="id=${questionStat.index}">
				
					<input type="radio" id="reponseStat.index" name="reponse1" th:field="*{reponses[__${id}__]}"th:value="${reponseStat.index}" > 
					<label	for="reponseStat.index" th:text="${reponse}"></label> 
				</div>
			</div>

			<button type="submit" class="btn btn-primary">Envoyer</button>
		</form>

	</div>
</body>
</html>