<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Modifier QCM Employé</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
	<style>
body {
	background-image: url('https://images8.alphacoders.com/370/370977.jpg');
	background-repeat: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>

	<div class="container text-center"
		style="background-color: white; width: 40%;">
		<div>
			<form th:action="@{/retourEmploye}" method="post">
				<input type="submit" value="Retour"
					style="box-shadow: 3px 4px 0px 0px #1743d4; background: linear-gradient(to bottom, #1d67de 5%, #3bd2e3 100%); background-color: #1d67de; border-radius: 18px; border: 1px solid #1a43c9; display: inline-block; cursor: pointer; color: #ffffff; font-family: Arial; font-size: 17px; padding: 7px 25px; text-decoration: none; text-shadow: 0px 1px 0px #292c30; margin-top: 5%; margin-top: 5%;" />
			</form>
		</div>
		<div>
			<h1>Modification du QCM</h1>
		</div>
		<form th:action="@{/process_modification}" th:object="${modifQCM}"
			method="post" style="max-width: 600px; margin: 0 auto;">
			<div class="m-3">
				<input type="text" name="titreancien" th:value="${QCM.titre}" hidden>
				<div class="form-group row">
					<h3>Titre
						:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
					<div class="col-8">
						<input type="text" th:value="${QCM.titre}" name="titre"
							class="form-control" minlength="3" required maxlength="50" />
					</div>
				</div>
				<div class="form-group row">
					<h3>Catégorie :&nbsp;&nbsp;&nbsp;</h3>
					<div class="col-8">
						<select class="form-control" name="categorie"
							th:value="${QCM.categorie}" required>
							<option value="Animation Japonaise"
								th:selected="${QCM.categorie} eq 'Animation Japonaise'">
								Animation Japonaise</option>
							<option value="Culture"
								th:selected="${QCM.categorie} eq 'Culture'">Culture</option>
							<option value="Cinéma" th:selected="${QCM.categorie} eq 'Cinéma'">Cinéma</option>
							<option value="Sport" th:selected="${QCM.categorie} eq 'Sport'">Sport</option>
							<option value="Théatre"
								th:selected="${QCM.categorie} eq 'Théatre'">Théatre</option>
							<option value="Voyage" th:selected="${QCM.categorie} eq 'Voyage'">Voyage</option>
						</select>
					</div>
				</div>
				<div th:each="question: ${QCM.questions}">
					<div class="form-group row">
						<h3>Question&nbsp;&nbsp;</h3>
						<h3 th:text="${questionStat.count}"></h3>
						</h3>
						<h3>&nbsp;:</h3>
						<div class="col-8">
							<input type="text" id="reponseStat.index" th:name="questions"
								th:value="${question}" class="form-control" minlength="3"
								required maxlength="50">
						</div>
					</div>

					<div class="form-group row">
						<h3>Réponses&nbsp;</h3>
						<h3 th:text="${questionStat.count}"></h3>
						<h3>&nbsp;:</h3>
						<div class="col-8">
							<div
								th:each="reponse :  ${QCM.reponses__${questionStat.count}__}"
								th:with="id=${questionStat.index}">
								<input type="text" id="reponseStat.index"
									th:name="reponses__${questionStat.count}__"
									th:value="${reponse}" class="form-control" minlength="3"
									required maxlength="50">

							</div>
						</div>
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary"
						style="margin-bottom: 5%; box-shadow: 3px 4px 0px 0px #147515; background: linear-gradient(to bottom, #24b53c 5%, #18db60 100%); background-color: #24b53c; border-radius: 18px; border: 1px solid #2f6630; cursor: pointer; color: #ffffff; font-family: Arial; font-size: 17px; padding: 7px 25px; text-decoration: none; text-shadow: 0px 1px 0px #292c30;">Valider</button>
				</div>
			</div>
		</form>
	</div>
</body>

</html>