<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta charset="UTF-8">
<title>Accueil - Page Responsable</title>
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<link rel="icon" href="styles/images/sondix_logo-woBG.png" />

<!--
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	-->

</head>

<header>
	<div class="barreNav">

		<!-- <a class="active" th:href="@{/}"> Accueil - SONDIX </a> -->
		<a class="logout" th:href="@{/}"> Deconnexion </a>
	</div>

</header>


<body>
	<style>
body {
	background-image: url('https://images8.alphacoders.com/370/370977.jpg');
	background-repeat: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>

	<div
		style="background-color: white; border-radius: 7px; padding-top: 1%; padding-left: 1%; padding-right: 1%;">
		<!-- DIV contenant l'affichage du message de bienvenue -->
		<div>

			<h1>
				<label
					style="color: #45B69C; font-weight: bold; font-size: xx-large;"
					sec:authentication="principal.FullName">FullName</label>, bienvenue
				sur votre page "responsable"
			</h1>

			<hr>
			<hr>
		</div>

		<!-- DIV contenant le tableau pour les prises de decisions des QCM pour le responsable -->
		<div>
			<h2>Liste des demandes de mise en ligne des QCM</h2>
			<p>Dans le tableau ci-dessous, vous retrouverez la liste de tous
				les QCM que vous avez validés ou qui sont en attentes de validation.
				Veuillez mettre un commentaire pour préciser les raisons de vos
				décisions.</p>
		</div>

		<div>
			<table class="table table-light  table-bordered"
				style="background-color: white;">
				<thead class="thead-dark">
					<tr>
						<th>Titre</th>
						<th>Catégorie</th>
						<th>Commentaire</th>
						<th>Statut</th>
						<th>Détail</th>
						<th>Décision</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="qcm: ${listQcm}">
						<td th:text="${qcm.titre}"></td>
						<td th:text="${qcm.categorie}"></td>
						<td th:text="${qcm.commentaire}"></td>
						<td th:text="${qcm.statut}"></td>
						<td style="text-align: center; vertical-align: middle;"><a
							th:href="@{/detailQcm/{titre}(titre=${qcm.titre})}"
							style="box-shadow: 3px 4px 0px 0px #1743d4; background: linear-gradient(to bottom, #1d67de 5%, #3bd2e3 100%); background-color: #1d67de; border-radius: 18px; border: 1px solid #1a43c9; display: inline-block; cursor: pointer; color: #ffffff; font-family: Arial; font-size: 17px; padding: 7px 25px; text-decoration: none; text-shadow: 0px 1px 0px #292c30;">Voir</a>
						</td>
						<td>
							<form th:action="@{/decision}" method="post">
								<input type="text" name="titre" th:value="${qcm.titre}" hidden>
								<input type="text" name="commentaire" placeholder="Commentaire"
									minlength="2" required maxlength="50"
									th:hidden="${qcm.statut} ne 'Demande de mise en ligne'">
								<input th:hidden="${qcm.statut} ne 'Demande de mise en ligne'"
									type="submit" name="action" value="Validé" th:value="Validé"
									style="box-shadow: 3px 4px 0px 0px #147515; background: linear-gradient(to bottom, #24b53c 5%, #18db60 100%); background-color: #24b53c; border-radius: 18px; border: 1px solid #2f6630; cursor: pointer; color: #ffffff; font-family: Arial; font-size: 17px; padding: 7px 25px; text-decoration: none; text-shadow: 0px 1px 0px #292c30;">
								<input th:hidden="${qcm.statut} ne 'Demande de mise en ligne'"
									type="submit" name="action" value="Refusé" th:value="Refusé"
									style="box-shadow: 3px 4px 0px 0px #8a2a21; background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%); background-color: #c62d1f; border-radius: 18px; border: 1px solid #d02718; cursor: pointer; color: #ffffff; font-family: Arial; font-size: 17px; padding: 7px 25px; text-decoration: none; text-shadow: 0px 1px 0px #810e05;">
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>

</html>