<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
<body>
<div class="container text-center">
		<h3>Un QCM portant ce Titre existe déjà</h3>
		<h4>
			<a th:href="@{/employe}">Cliquez ici pour retourner à la page des employés</a>
		</h4>
	</div>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6d8b918c3cb2ee60',m:'pXwiRV_OnoCSyj2HU3IEvGuu13w2sjCud1ldJEf0kd8-1644058129-0-AdVjquTZj2Y/JU63exKaX6Vg8oB3hUWWkwHx9F+N9OpX5oS+BMKzPNgEAjkKoo4reGf5y2ikFiaVWVwchVisMS/kn/46Aaqhc2wouyL7/TRcEUjeIyZwzcf1E++4UvJT56/ku3HyevrpB3z4+hK8Ellhhkwr19gg0LAnCX+/b1GnLZ4vV+YjrDwqm1Ehd65O7WRV7galy3rCifWF8vCWV4s=',s:[0x9c49ddd043,0x4472999dd1],}})();</script></body>
</html>