<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sondix- Plateforme de QCM en ligne</title>
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<link rel="icon" href="styles/images/sondix_logo-woBG.png" />
</head>
<body>
	<h1>Le compte existe déjà pour ce mail.</h1>
	<div>
		<br>
		<button onclick="window.location.href = '/login';">Cliquez
			ici pour vous connecter</button>
	</div>
</body>
</html>