<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Accueil Sondix</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container text-center">

		<div>
			<form th:action="@{/retourEmploye}" method="post">
				<input type="submit" value="Retour" />
			</form>
		</div>
		<div>
			<h1>Création du QCM</h1>
		</div>
		<form th:action="@{/process_creation}" th:object="${qcm}" method="post"
			style="max-width: 600px; margin: 0 auto;">
			<div class="m-3">

				<div class="form-group row">
					<h3>Titre :</h3>
					<div class="col-8">
						<input type="text" th:field="*{titre}" class="form-control" minlength="3" required
							maxlength="50" />
					</div>
				</div>

				<div class="form-group row">
					<h3>Catégorie :</h3>
					<div class="col-8">
						<select class="form-control" th:field="*{categorie}" required>
							<option value="Animation Japonaise">Animation Japonaise</option>
							<option value="Culture">Culture</option>
							<option value="Cinéma">Cinéma</option>
							<option value="Sport">Sport</option>
							<option value="Théatre">Théatre</option>
							<option value="Voyage">Voyage</option>
						</select>

					</div>
				</div>

				<div th:each="question: ${nbqts}">
					<div class="form-group row">
						<h3>Question</h3>
						<h3 th:text="${questionStat.count}"></h3>
						<div class="col-8">
							<input type="text" th:field="*{questions[__${questionStat.index}__]}" class="form-control"
								minlength="3" required maxlength="50" />
						</div>
					</div>
					<div class="form-group row">
						<h3>Réponses</h3>
						<h3 th:text="${questionStat.count}"></h3>
						<div class="col-8">
							<input type="text" th:field="*{reponses__${questionStat.count}__[0]}" class="form-control"
								minlength="3" required maxlength="50" /> <input type="text"
								th:field="*{reponses__${questionStat.count}__[1]}" class="form-control" minlength="3"
								required maxlength="50" /> <input type="text"
								th:field="*{reponses__${questionStat.count}__[2]}" class="form-control" minlength="3"
								maxlength="50" /> <input type="text" th:field="*{reponses__${questionStat.count}__[3]}"
								class="form-control" minlength="3" maxlength="50" />

						</div>
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Créer</button>
				</div>

			</div>
		</form>
	</div>
</body>

</html>