<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
	<!-- On mets ici les informations concernant le style de la page,
	le logo et le titre qu'aura l'onglet dans le naviguateur-->

	<meta charset="UTF-8">
	<title>Sondix - Page Employé</title>
	<link rel="stylesheet" type="text/css" href="styles/style.css" />
	<link rel="icon" href="styles/images/sondix_logo-woBG.png" />
</head>

<header>
	<div class="barreNav">

		<a class="active" th:href="@{/}"> Accueil - SONDIX </a>
		<a class="tablinks" id="blackButton" onclick="openTab(event, 'divCreerQCM')"> Créer un QCM </a>
		<a class="tablinks" id="blackButton" onclick="openTab(event, 'mainEmploye')"> Mon tableau de QCM</a>
		<a class="tablinks" id="blackButton" onclick="openTab(event, 'fermer')">X</a>

		<a class="logout" th:href="@{/logout}"> Deconnexion </a>
	</div>

</header>

<body>

<div>

	<!-- DIV contenant l'affichage du message de bienvenue -->
	<div>
		<h1><label style="color :#45B69C;font-weight: bold;font-size: xx-large;"
				sec:authentication="principal.FullName">FullName</label>, bienvenue sur votre page d'employé
		</h1>

		<hr>
		<hr>


		<h2>Outils pour la création et supervision de votre QCM</h2>
		<p> Séléctionner l'onglet que vous souhaitez dans la barre de navigation, cela vous permettera d'accéder
			aux différentes sections vous permettant de créer un QCM, les soumettre a votre responsable ou alors
			les supprimer </p>

	</div>


	<div id="divCreerQCM" class="tabcontent">


		<!-- DEBUT Formulaire qui gere le nombre de questions que l'on souhaite mettre dans notre QCM -->
		<form th:action="@{/creation_qcm}" method="post">
			<div class="conteneurSignUp">
				<label> Nombre de questions : </label>
				<div class="gauche">
					<select name="nbqts" class="form-control" required>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					</select>
				</div>
				<br><br><br><br>
				<div class="droite">
					<input type="submit" value="Créer QCM" style="color: green; font-size: x-large; font-weight: bold;">
				</div>
			</div>
		</form>
		<!-- FIN Formulaire qui gere le nombre de questions que l'on souhaite mettre dans notre QCM -->





	</div>


	<div id="mainEmploye" class="tabcontent">

		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Titre</th>
					<th>Catégorie</th>
					<th>Statut</th>
					<th>Commentaire</th>
					<th>Supprimer</th>
					<th>Modification</th>
					<th>Mise en ligne</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="qcm: ${listQcm}">
					<td th:text="${qcm.titre}"></td>
					<td th:text="${qcm.categorie}"></td>
					<td th:text="${qcm.statut}"></td>
					<td th:text="${qcm.commentaire}"></td>
					<td>
						<form th:action="@{/deleteData}" method="post">
							<input type="text" name="idQCM" th:value="${qcm.idQCM}" hidden>
							<input
								th:disabled="${qcm.statut} eq 'Demande de mise en ligne' or  ${qcm.statut} eq 'Validé' or  ${qcm.statut} eq 'Archivé'"
								type="submit" value="Supprimer">
						</form>
					</td>
					<td><a th:hidden="${qcm.statut} eq 'Demande de mise en ligne' or  ${qcm.statut} eq 'Validé' or  ${qcm.statut} eq 'Archivé'"
							th:href="@{/modifierQcm/{titre}(titre=${qcm.titre})}">Modifier</a>
					</td>
					<td>
						<form th:action="@{/processOnline}" method="post">
							<input type="text" name="titre" th:value="${qcm.titre}" hidden>
							<input
								th:disabled="${qcm.statut} eq 'Demande de mise en ligne' or  ${qcm.statut} eq 'Validé' or  ${qcm.statut} eq 'Archivé'"
								type="submit" value="Demande">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- 	SCRIPT JavaScript permettant au différents balise <a> qui l'a compose 
			de pouvoir afficher un contenu d'une seule div lorsque l'on clique dessus
	-->
	
	</div>
	<script>
		function openTab(evt, cityName) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			document.getElementById(cityName).style.display = "block";
			evt.currentTarget.className += " active";
		}
	</script>

</body>

</html>